html {
    margin: 0;
    padding: 0;
}
body {
    width: 210mm;
    /*height: 297mm;*/
    background-color: #ccc;
    
    margin: 0 auto;
    padding: 0;
    font-family: roboto, sans-serif;
    font-size: 13px;
    line-height: 1.4;
	
    
}
.page {
    width: 210mm;
    height: 297mm;
    background-color: #fff;
	 overflow: hidden;
}
/*
@media print {
	html, body {
		width: 210mm;
		height: 297mm;
	}
 
}
*/
a, a:visited {
    color: #0b486b;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin-top: 0;
    margin-bottom: 0.8em;
}
ul {
    margin-top: 0;
    margin-bottom: 0.8em;
    padding-left: 15px;
}
ul li {
    margin-bottom: 0.4em;
}

h2 {

}
h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
}
.blockquote{
	font-size: 14px;
	line-height: 1.2;
	text-align: justify;
	font-style: italic;
	margin: 0 0 20px 0;
	padding:  15px;
	z-index: 2;
	position: relative;
}
/* .blockquote:before{
	content:"";
	width: 100%;
	height: 100%;
	background: #0b486b;
	opacity: 0.1;
	position: absolute;
	top: 0;
	z-index: -1;
	left: 0;
} */
.blockquote p{
	padding-bottom: 19px;
	margin-bottom: 0;
	display: block;
}
.text-right{
	display: block;
	text-align: right;
}
.mb-0{
	margin-bottom: 0 !important;
}
.side {
    background-color: #0b486b;
    /* background-color: #1488ca; */
    color: #fff;
    font-size: 13px;
    line-height: 1.54;
    text-align: center;
    padding: 10px 20px;
}

.side a, .side a:visited {
    color: #fff;
}
.side .section-title {
    font-size: 18px;
    font-weight: bold;
}

.location a {
    text-decoration: none;
}

.name {
    font-family: roboto_condensed, sans-serif;
    font-size: 42px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 15px;
}
.location.contacts {
    margin-bottom: 0;
}
.travel {
    margin-bottom: 15px;
}
.position {
    font-family: roboto_condensed, sans-serif;
    font-size: 25px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
}
.links {
    font-size: 12px;
}
.side .links a {
    text-decoration: none;
}


.main {
    color: #545454;
    padding: 20px 45px;
}

.main .section-title {
    font-family: roboto_condensed, sans-serif;
    color: #0b486b;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 7px;
    padding-top: 0;
}
.section .keywords {
   /* font-size: 13px;*/
    margin-bottom: 1em;
}
.k-col {
    float: left;
    width: 33%;
}
.k-col.second {
    text-align: center;
}
.k-col.third {
    text-align: right;
}
.professional-experience h2 {
    margin-top: 0;
}
.professional-experience .title-f {
    float: left;
    width: 60%;
    margin-bottom: 0;
}
.professional-experience .title {
    float: left;
    width: 60%;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}
.professional-experience .period {
    float: right;
    text-align: right;
    width: 40%;
    font-weight: bold;
    margin-bottom: 0;
}
.additional-information {
    /* font-size: 11px; */
}
.page2 .main {
	padding-bottom: 10px;
}

.clear {
    clear: both;
}
.first p{
	padding-bottom: 19px;
}
.job{
	padding-bottom: 0 !important;
}
.job p{
	padding-bottom: 10px;
}
.title{
	font-size: 15px !important;
	font-style: italic;
}
p.job{
	/* color: #000; */
	font-weight: bold;
}
div.job{
	/* border-top: 1px solid #ccc; */
	
	/* color: #fff; */
	padding: 10px 0 !important;
	margin-top: 10px;
	position: relative;
	z-index: 1;
}

.bb{
	border-bottom: 1px solid #ccc;
}